<!-- views/partials/header.ejs -->
<header>
    <div class="header-container">
      <h1>Fruit Inventory</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new">Add Fruit</a></li>
          <li><a href="/family">Family</a></li>
        </ul>
      </nav>
    </div>
  </header>
  