body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.fruit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.fruit-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.2s ease;
}

.fruit-card img {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 3/2;
  border-radius: 10px;
}

.fruit-card h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

.fruit-card a {
  text-decoration: none;
  display: block;
  height: 100%;
  color: #333;
}

.fruit-card:hover {
  transform: scale(1.05);
}